In [ ]:
import pandas as pd
df = pd.read_csv('Somali/som_all.tsv',sep='\t')
print(len(df))
df.head()
#df.to_csv('Pidgin/alltopics.tsv',sep='\t',index=False)

20579

   Unnamed: 0                                               Text       Label
0           0           Wasiirkii Biyaha Sucuudiga oo la Casilay    Caalamka
1           1            Joe Biden oo ka dagay magaalada Nairobi     Wararka
2           2  Madaxii Garsoorayaasha Xiriirka K/Cagta Somali...  Soomaaliya
3           3                 Dabeylo ku Dhuftay Ceelasha-Biyaha  Soomaaliya
4           4               816 Arday oo ka Qalin Jebisay Camuud  Soomaaliya

In [ ]:
df['Label'].explode().value_counts()

Soomaaliya                           9343
Wararka                              3652
Caalamka                             2777
Maraykanka                           1812
Afrika                               1582
Bogga Ciyaaraha                       611
Sawirro                               152
Dhaqanka iyo Hiddaha                  119
Martida Makrafoonka                   117
Wicitaanka Dhageystaha                111
Faaqidaadda Toddobaadka                64
Qubanaha Maanta                        43
Hambalyada iyo Heesaha                 36
Cawayska Washington                    30
Doorashada Mareykanka 2020             29
Hibada iyo Hal Abuurka                 24
Haweenka iyo Qosyka                    16
Waraysiyada                            11
Barnaamijyada Gaarka ah                11
Basketball Africa League (BAL)          7
Barnaamijyada Toddobaadka               6
Barnaamijka Ileys                       5
Yurub ama Geeri                         4
Breaking News                           4
Bandhigga VOA                           3
Xulka                                   3
Galka Baarista                          2
Infographics                            1
VOA60 Africa                            1
Barnaamij: Dhextaalka Toddobaadka       1
Doorashada Soomaaliya 2021              1
Abaaraha Soomaaliya 2017                1
Name: Label, dtype: int64

In [ ]:
# get all the duplicated rows
dupl = df[df.duplicated(['Text'],keep = False )]
# get the remaining rows after removing the duplicate news
restdf = df[~df.isin(dupl)].dropna()
#get the rows for the top 6 with more than 600 instances category
#df = restdf[restdf['Label'] == 'Soomaaliya' | restdf['Label'] == 'Wararka', 'Maraykanka', 'Afrika']
maindf = restdf.loc[restdf['Label'].isin(['Soomaaliya', 'Wararka', 'Caalamka', 'Maraykanka', 'Afrika', 'Bogga Ciyaaraha'])]
maindf = maindf.drop('Unnamed: 0', axis=1, inplace=False)
maindf = maindf.rename(columns={'Text': 'text', 'Label': 'class'})
maindf

                                                    text       class
0               Wasiirkii Biyaha Sucuudiga oo la Casilay    Caalamka
1                Joe Biden oo ka dagay magaalada Nairobi     Wararka
2      Madaxii Garsoorayaasha Xiriirka K/Cagta Somali...  Soomaaliya
3                     Dabeylo ku Dhuftay Ceelasha-Biyaha  Soomaaliya
4                   816 Arday oo ka Qalin Jebisay Camuud  Soomaaliya
...                                                  ...         ...
20574       Somaliland: Qofkii 4aad oo u Dhinta COVID-19  Soomaaliya
20575  Trump oo 3 Bil oo Dheeri ah Xayiraadda ka Qaad...      Afrika
20576        Wareysi Gaas: Doorashada Dib Ayey u Dhacday  Soomaaliya
20577      Natiijada Doorashada Kenya oo Lagu Dhawaaqayo      Afrika
20578                   Xaaladda Dhoobley Shabaab ka Dib     Wararka

[19673 rows x 2 columns]

In [ ]:
len(maindf)

19673

In [ ]:
maindf['class'].explode().value_counts()

Soomaaliya         9282
Wararka            3623
Caalamka           2773
Maraykanka         1808
Afrika             1576
Bogga Ciyaaraha     611
Name: class, dtype: int64

In [ ]:
maindf.to_csv('Somali/somali_topic.tsv',sep='\t',index=False)

In [ ]:
import pandas as pd
df = pd.read_csv('Somali/somali_topic.tsv',sep='\t')
len(df)

19673

In [ ]:
df["class"] = df["class"].str.lower()
df = df.rename(columns={"class":"label"})
df

                                                    text       label
0               Wasiirkii Biyaha Sucuudiga oo la Casilay    caalamka
1                Joe Biden oo ka dagay magaalada Nairobi     wararka
2      Madaxii Garsoorayaasha Xiriirka K/Cagta Somali...  soomaaliya
3                     Dabeylo ku Dhuftay Ceelasha-Biyaha  soomaaliya
4                   816 Arday oo ka Qalin Jebisay Camuud  soomaaliya
...                                                  ...         ...
19668       Somaliland: Qofkii 4aad oo u Dhinta COVID-19  soomaaliya
19669  Trump oo 3 Bil oo Dheeri ah Xayiraadda ka Qaad...      afrika
19670        Wareysi Gaas: Doorashada Dib Ayey u Dhacday  soomaaliya
19671      Natiijada Doorashada Kenya oo Lagu Dhawaaqayo      afrika
19672                   Xaaladda Dhoobley Shabaab ka Dib     wararka

[19673 rows x 2 columns]

In [ ]:
df['label'].explode().value_counts()

soomaaliya         9282
wararka            3623
caalamka           2773
maraykanka         1808
afrika             1576
bogga ciyaaraha     611
Name: label, dtype: int64

In [ ]:
dfsom = df.query('label == "soomaaliya"').sample(4000,random_state=0)
print(dfsom.head())
restdf = df.loc[df['label'].isin(['wararka', 'caalamka', 'maraykanka', 'afrika', 'bogga ciyaaraha'])]
frames = [dfsom, restdf]

df = pd.concat(frames)

                                                    text       label
18718           100 Ka Tirsan Shabab oo Lagu Dilay Baay.  soomaaliya
2460            Dhageyso Barnaamijka Martida Mikrafoonka  soomaaliya
8088   Dawladda Somalia oo Qabatay Alshabab Weerar Ge...  soomaaliya
4250       Shirkadda Toyota oo xarun ka furatay Muqdisho  soomaaliya
15862                Tartan Orod oo Hargeysa Lagu Qabtay  soomaaliya

In [ ]:
df['label'].explode().value_counts()

soomaaliya         4000
wararka            3623
caalamka           2773
maraykanka         1808
afrika             1576
bogga ciyaaraha     611
Name: label, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
import pandas as pd

def train_test_val_split(df, test_size=0.15, val_size=0.45):
    temp, test = train_test_split(df, test_size=test_size,stratify=df['label'],random_state=0)
    total_items_count = len(df.index)
    val_length = total_items_count * val_size
    new_val_propotion = val_length / len(temp.index) 
    train, val = train_test_split(temp, test_size=new_val_propotion,stratify=temp['label'],random_state=0)
    return train, test, val

train, test, val = train_test_val_split(df, test_size=0.2, val_size=0.1)
print(len(train),len(test),len(val))

10072 2879 1440

In [ ]:
train['label'].explode().value_counts()

soomaaliya         2800
wararka            2535
caalamka           1941
maraykanka         1265
afrika             1103
bogga ciyaaraha     428
Name: label, dtype: int64

In [ ]:
val['label'].explode().value_counts()

soomaaliya         400
wararka            363
caalamka           277
maraykanka         181
afrika             158
bogga ciyaaraha     61
Name: label, dtype: int64

In [ ]:
test['label'].explode().value_counts()
# "soomaaliya", "wararka", "caalamka", "maraykanka", "afrika"             315

soomaaliya         800
wararka            725
caalamka           555
maraykanka         362
afrika             315
bogga ciyaaraha    122
Name: label, dtype: int64

In [ ]:
train.to_csv('Somali/train.tsv',sep='\t',index=False)
val.to_csv('Somali/dev.tsv',sep='\t',index=False)
test.to_csv('Somali/test.tsv',sep='\t',index=False)

In [ ]:
maindf.describe()

                                                     text       class
count                                               19673       19673
unique                                              19673           6
top     Mareykanka: Dawo la ogaaday inay caawiso bukaa...  Soomaaliya
freq                                                    1        9282